# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [28]:
# All import statements needed for the project
import json
import pathlib
import urllib.parse
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import seaborn as sns
import folium
from shapely.geometry import Point

In [29]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"
NYC_DATA_APP_TOKEN = "SMCztjSAKApgTYc1CbAxcdksE"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [30]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [31]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        ...
        
        with open(filename, "w") as f:
            json.dump(..., f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [32]:
# Read the ZIP code data file into a GeoDataFrame, keep the necessary columns: zipcode and geometry,
# and remove any rows that contain missing values. 
def load_and_clean_zipcodes():
    df = gpd.read_file(ZIPCODE_DATA_FILE)
    df['centroid'] = df.geometry.centroid
    df.geometry = df['centroid']
    columns_to_keep = ['ZIPCODE', 'geometry']
    df_subset = df[columns_to_keep].dropna()
    return df_subset

In [33]:
# Download and clean complaint 311 data
def download_and_clean_311_data():
    # Define date range for the SoQL query
    start_date = '2023-12-07T00:00:00'
    end_date = '2023-12-08T23:59:59'
    limit = 50000

    # Build the query URL with SoQL parameters
    base_url = "https://data.cityofnewyork.us/resource/erm2-nwe9.json"
    soql_query = f"?$where=created_date between '{start_date}' and '{end_date}'&$limit={limit}"
    url = base_url + soql_query
    
    headers = {
        'Accept': 'application/json', 
        'X-App-Token': NYC_DATA_APP_TOKEN  
    }

    response = requests.get(url, headers=headers)
    data = response.json()
    df = pd.json_normalize(data)

    # Keep necessary columns: unique key, date, zipcode, complaint type, latitude, and longitude
    # and create point column defined by longitude and latitude
    columns_to_keep = ['unique_key', 'created_date', 'incident_zip', 'complaint_type', 'latitude', 'longitude']
    df_subset = df[columns_to_keep].dropna()
    df_subset['created_date'] = pd.to_datetime(df_subset['created_date'])
    geometry = [Point(xy) for xy in zip(df_subset['longitude'], df_subset['latitude'])]
    df_subset = gpd.GeoDataFrame(df_subset, geometry=geometry, crs='EPSG:4326')

    return df_subset

In [34]:
# Download and clean tree data
def download_and_clean_tree_data():
    url = "https://data.cityofnewyork.us/resource/5rq2-4hqu.json"
    
    # Select necessary columns with limit on number of data
    params = {
        '$SELECT': "tree_id, status, health, zipcode, spc_common, latitude, longitude",
        '$LIMIT': 50000
    }

    # Define headers with token
    headers = {
        'Accept': 'application/json', 
        'X-App-Token': NYC_DATA_APP_TOKEN  
    }

    response = requests.get(url, params=params, headers=headers) 

    # If the request is successful, create point geometry, and convert to GeoDataFrame
    # Otherwise, print the error information and return an empty DataFrame
    if response.status_code == 200:
        data = response.json() 
        df = pd.json_normalize(data).dropna()
        geometry = [Point(xy) for xy in zip(df['longitude'], df['latitude'])]
        gdf = gpd.GeoDataFrame(df, geometry=geometry, crs='EPSG:4326') 
        return gdf
    else:
        print("Failed to retrieve data:", response.status_code)
        print("Details:", response.text)
        return pd.DataFrame()

In [35]:
# Download and clean zillow data
def load_and_clean_zillow_data():
    df = pd.read_csv(ZILLOW_DATA_FILE)
    drop_column = ["SizeRank", "RegionID", "RegionType", "StateName", "State", "Metro"] 
    df = df.drop(columns=drop_column).dropna() # Drop unnecessary columns and drop missing values
    df = df.melt(id_vars=["RegionName", "City", "CountyName"], var_name='Date', value_name='Rent') # Melt df to convert to long format
    df = df[df["City"] == "New York"] # Filter to only NY data
    return df

In [36]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes()
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [37]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [38]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   geometry  263 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 4.2+ KB

In [39]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

  ZIPCODE                        geometry
0   11436  POINT (1040696.262 185580.222)
1   11213  POINT (1001912.872 183803.113)
2   11212  POINT (1008365.375 180768.945)
3   11225   POINT (997023.193 180870.353)
4   11218   POINT (990785.291 173656.048)

In [40]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 19795 entries, 0 to 20098
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   unique_key      19795 non-null  object
 1   created_date    19795 non-null  datetime64[ns]
 2   incident_zip    19795 non-null  object
 3   complaint_type  19795 non-null  object
 4   latitude        19795 non-null  object
 5   longitude       19795 non-null  object
 6   geometry        19795 non-null  geometry
dtypes: datetime64[ns](1), geometry(1), object(5)
memory usage: 1.2+ MB

In [41]:
geodf_311_data.head()

,unique_key,created_date,incident_zip,complaint_type,latitude,longitude,geometry
0,59678029,2023-12-08 23:59:52,10023,Noise - Residential,40.77381859641822,-73.98791943512036,POINT (-73.98792 40.77382)
1,59684522,2023-12-08 23:59:46,10014,Noise - Commercial,40.72854727656185,-74.00464710009602,POINT (-74.00465 40.72855)
2,59678462,2023-12-08 23:59:23,11369,Blocked Driveway,40.75918996561309,-73.8822493498847,POINT (-73.88225 40.75919)
3,59685881,2023-12-08 23:59:11,11378,Noise - Commercial,40.72763257870112,-73.89248674712505,POINT (-73.89249 40.72763)
4,59683789,2023-12-08 23:59:09,11378,Animal-Abuse,40.7217501174298,-73.90118341338044,POINT (-73.90118 40.72175)

In [42]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 47589 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tree_id     47589 non-null  object
 1   status      47589 non-null  object
 2   health      47589 non-null  object
 3   zipcode     47589 non-null  object
 4   spc_common  47589 non-null  object
 5   latitude    47589 non-null  object
 6   longitude   47589 non-null  object
 7   geometry    47589 non-null  geometry
dtypes: geometry(1), object(7)
memory usage: 3.3+ MB

In [43]:
geodf_tree_data.head()

,tree_id,status,health,zipcode,spc_common,latitude,longitude,geometry
0,180683,Alive,Fair,11375,red maple,40.72309177,-73.84421522,POINT (-73.84422 40.72309)
1,200540,Alive,Fair,11357,pin oak,40.79411067,-73.81867946,POINT (-73.81868 40.79411)
2,204026,Alive,Good,11211,honeylocust,40.71758074,-73.9366077,POINT (-73.93661 40.71758)
3,204337,Alive,Good,11211,honeylocust,40.71353749,-73.93445616,POINT (-73.93446 40.71354)
4,189565,Alive,Good,11215,American linden,40.66677776,-73.97597938,POINT (-73.97598 40.66678)

In [44]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5040 entries, 3 to 61422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  5040 non-null   int64
 1   City        5040 non-null   object
 2   CountyName  5040 non-null   object
 3   Date        5040 non-null   object
 4   Rent        5040 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 236.2+ KB

In [45]:
df_zillow_data.head()

    RegionName      City       CountyName        Date         Rent
3        11226  New York     Kings County  2015-01-31  1944.609891
6        10025  New York  New York County  2015-01-31  3068.951823
10       11206  New York     Kings County  2015-01-31  2482.829299
11       11221  New York     Kings County  2015-01-31  2125.738807
16       11235  New York     Kings County  2015-01-31  1687.789898

## Part 2: Storing Data

In [46]:
!createdb 4501_FINAL_PROJECT

createdb: error: database creation failed: ERROR:  database "4501_FINAL_PROJECT" already exists

In [47]:
!psql --dbname 4501_FINAL_PROJECT -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [48]:
engine = db.create_engine('postgresql://postgres:1220@localhost:5432/4501_FINAL_PROJECT')

#### SQL

In [49]:
# Define the SQL statements to create 4 tables using SQL
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS zipcode (
    id INTEGER PRIMARY KEY,
    ZIPCODE VARCHAR(10),
    geometry GEOMETRY(Point, 4326)
);

DROP INDEX IF EXISTS idx_zipcode_geometry;
CREATE INDEX idx_zipcode_geometry ON zipcode USING GIST (geometry);
"""

NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS complaint (
    unique_key INTEGER PRIMARY KEY,
    created_date TIMESTAMP,
    incident_zip VARCHAR(15),
    complaint_type VARCHAR(100),
    latitude DECIMAL,
    longitude DECIMAL,
    geometry GEOMETRY(Point, 4326)
);

DROP INDEX IF EXISTS idx_zipcode_geometry;
CREATE INDEX IF NOT EXISTS idx_complaint_geometry ON complaint USING GIST (geometry);
"""

NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS tree (
    tree_id INTEGER PRIMARY KEY,
    status VARCHAR(50),
    health VARCHAR(50),
    zipcode VARCHAR(10),
    spc_common VARCHAR(100),
    latitude DECIMAL,
    longitude DECIMAL,
    geometry GEOMETRY(Point, 4326)
);

DROP INDEX IF EXISTS idx_tree_geometry;
CREATE INDEX idx_tree_geometry ON tree USING GIST (geometry);
"""

ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS rent (
    id INTEGER PRIMARY KEY,
    RegionName VARCHAR(10),
    City VARCHAR(50),
    CountyName VARCHAR(50),
    Date DATE,
    Rent DECIMAL(10, 2)
);
"""

In [50]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [51]:
# Execute the schema files to create tables
schema_file = 'schema.sql'

# Execute the schema file
with engine.connect() as connection:
    with open(schema_file, 'r') as file:
        schema_sql = file.read()
        connection.execute(schema_sql)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### SQL

In [52]:


# Write DataFrame to table
def write_dataframes_to_table(tablename_to_dataframe, engine):
    for tablename, dataframe in tablename_to_dataframe.items():
        # Check if the dataframe is a GeoDataFrame
        if isinstance(dataframe, gpd.GeoDataFrame):
            try:
                # Transform the CRS to EPSG:4326 if it's different
                if dataframe.crs and dataframe.crs.to_string() != 'EPSG:4326':
                    dataframe = dataframe.to_crs('EPSG:4326')

                # Write GeoDataFrame to PostGIS, append if the table already exists
                dataframe.to_postgis(name=tablename, con=engine, if_exists='replace', index=False)
                print(f"GeoDataFrame written successfully to table {tablename}")
            except Exception as e:
                print(f"Error writing GeoDataFrame to table {tablename}: {e}")
        else:
            try:
                # Write regular DataFrame to SQL
                dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)
                print(f"DataFrame written successfully to table {tablename}")
            except Exception as e:
                print(f"Error writing DataFrame to table {tablename}: {e}")

In [53]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [55]:
write_dataframes_to_table(tablename_to_dataframe, engine)

GeoDataFrame written successfully to table zipcodes
GeoDataFrame written successfully to table complaints
GeoDataFrame written successfully to table trees
DataFrame written successfully to table rents

## Part 3: Understanding the Data

### Query 1

In [56]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open(outfile, 'w') as file:
        file.write(query)

In [57]:
QUERY_1_FILENAME = QUERY_DIR / "complaints_by_zipcodes.sql"

QUERY_1 = """
SELECT
    incident_zip,
    COUNT(*) AS num_complaints
FROM
    complaints
GROUP BY
    incident_zip
ORDER BY
    num_complaints DESC;
"""

In [58]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

('10025', 408)
('11201', 390)
('10458', 346)
('10003', 340)
('10457', 321)
('10467', 311)
('11238', 308)
('11226', 293)
('10456', 290)
('10468', 270)
('10453', 266)
('10452', 251)
('11207', 244)
('11221', 233)
('10031', 230)
('10032', 218)
('11215', 212)
('11213', 212)
('11385', 209)
('10027', 204)
('10011', 199)
('11208', 199)
('11217', 196)
('11231', 195)
('10466', 194)
('10019', 190)
('11225', 189)
('11230', 185)
('11212', 183)
('11373', 182)
('11368', 180)
('11377', 179)
('11209', 179)
('11233', 179)
('11218', 177)
('10016', 176)
('11203', 171)
('11236', 171)
('11220', 165)
('10036', 164)
('11223', 163)
('11235', 163)
('11216', 160)
('11211', 158)
('10451', 158)
('10030', 157)
('10463', 156)
('10128', 155)
('11214', 155)
('10002', 154)
('11206', 151)
('11239', 151)
('11229', 149)
('10024', 149)
('11372', 148)
('10034', 148)
('11357', 148)
('10472', 146)
('11204', 146)
('10029', 145)
('10026', 144)
('11101', 144)
('11234', 144)
('10023', 143)
('10040', 132)
('10462', 128)
('10009', 127)
('11219', 127)
('10460', 123)
('11249', 119)
('10461', 116)
('11222', 115)
('11432', 114)
('11435', 113)
('10028', 110)
('10469', 109)
('11210', 107)
('11375', 107)
('11205', 106)
('10035', 105)
('10459', 105)
('11102', 103)
('11414', 102)
('11237', 102)
('10033', 102)
('11421', 96)
('11103', 95)
('11691', 93)
('11355', 93)
('11354', 92)
('11378', 90)
('11433', 89)
('10039', 88)
('11228', 87)
('10312', 87)
('11104', 86)
('10014', 86)
('10454', 85)
('10314', 84)
('10001', 83)
('11418', 81)
('10455', 80)
('11434', 80)
('11105', 78)
('10013', 77)
('11106', 77)
('10473', 77)
('11369', 76)
('11374', 75)
('10304', 73)
('10012', 72)
('11419', 70)
('10021', 69)
('11224', 69)
('11420', 66)
('10306', 63)
('10017', 62)
('10301', 62)
('11366', 61)
('10465', 61)
('11379', 59)
('10280', 58)
('11232', 58)
('11415', 52)
('10470', 52)
('11365', 51)
('10303', 50)
('10022', 49)
('11422', 49)
('10018', 49)
('10065', 47)
('11358', 46)
('11367', 43)
('11364', 42)
('11417', 42)
('11370', 39)
('10305', 39)
('10037', 39)
('11412', 39)
('10474', 38)
('11361', 36)
('11411', 36)
('11692', 34)
('11356', 33)
('10010', 33)
('10471', 33)
('11423', 32)
('10302', 32)
('10309', 31)
('10310', 31)
('10475', 30)
('11413', 29)
('11429', 29)
('10007', 29)
('10308', 28)
('10038', 27)
('11436', 26)
('11694', 25)
('11416', 24)
('11427', 24)
('11428', 24)
('11426', 23)
('10005', 22)
('10075', 22)
('10307', 20)
('10004', 20)
('11693', 19)
('11360', 17)
('11362', 16)
('11430', 14)
('10006', 10)
('11004', 9)
('10000', 6)
('11363', 6)
('10069', 6)
('11040', 5)
('10044', 5)
('10464', 5)
('11001', 4)
('10169', 4)
('11109', 2)
('10020', 2)
('10282', 2)
('10107', 1)
('11251', 1)
('10176', 1)
('10103', 1)
('10153', 1)
('10119', 1)
('10162', 1)
('10115', 1)
('10278', 1)
('10121', 1)

In [59]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [61]:
QUERY_2_FILENAME = QUERY_DIR / "top_10_zipcodes_most_greenery.sql"

QUERY_2 = """
SELECT
    zipcode,
    COUNT(*) AS num_trees
FROM
    trees
GROUP BY
    zipcode
ORDER BY
    num_trees DESC
LIMIT 10;
"""

In [62]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_2))
    for row in result:
        print(row)

('10306', 2355)
('11230', 1545)
('10466', 1400)
('11375', 1215)
('11215', 1172)
('10312', 1115)
('11426', 1107)
('11105', 1056)
('11218', 1011)
('11372', 970)

In [63]:
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3

In [64]:
QUERY_3_FILENAME = QUERY_DIR / "average_rent_in_Aug_for_top_10_greenery_zipcode.sql"

QUERY_3 = """
SELECT
    trees.zipcode,
    AVG(rents."Rent") AS average_rent
FROM
    trees
JOIN
    rents ON trees.zipcode = CAST(rents."RegionName" AS text)
WHERE
    rents."Date" BETWEEN '2023-08-01' AND '2023-08-31'
GROUP BY
    trees.zipcode
ORDER BY
    COUNT(trees.tree_id) DESC
LIMIT 10;
"""

In [65]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_3))
    for row in result:
        print(row)

('11375', 2743.403881587553)
('11215', 3575.650073516554)
('10024', 3797.939788729083)
('10025', 4037.7657250597435)
('11222', 4159.847869342067)
('10023', 4370.073658086057)
('11211', 4342.652098659593)
('11231', 4074.7752245799525)
('11226', 2785.3201367435768)
('11238', 3760.1397967521966)

In [66]:
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4

In [67]:
QUERY_4_FILENAME = QUERY_DIR / "correlation_between_rent_trees_and_complaints.sql"

QUERY_4 = """
WITH RentData AS (
    SELECT
        r."RegionName" AS zip_code,
        CAST(AVG(r."Rent") AS NUMERIC(10, 2)) AS average_rent
    FROM
        rents r
    WHERE
        r."Date" BETWEEN '2023-01-01' AND '2023-01-31'
    GROUP BY
        r."RegionName"
),
TreeData AS (
    SELECT
        t.zipcode::NUMERIC,  -- Cast to NUMERIC to match the data type in RentData
        COUNT(t.tree_id) AS tree_count
    FROM
        trees t
    GROUP BY
        t.zipcode::NUMERIC  -- Cast to NUMERIC
),
ComplaintData AS (
    SELECT
        c.incident_zip::NUMERIC,  -- Cast to NUMERIC to match the data type in RentData
        COUNT(c.unique_key) AS complaint_count
    FROM
        complaints c
    WHERE
        c.created_date BETWEEN '2023-01-01' AND '2023-01-31'
    GROUP BY
        c.incident_zip::NUMERIC  -- Cast to NUMERIC
),
CombinedData AS (
    SELECT
        rd.zip_code,
        rd.average_rent,
        COALESCE(td.tree_count, 0) AS tree_count,
        COALESCE(cd.complaint_count, 0) AS complaint_count
    FROM
        RentData rd
    LEFT JOIN
        TreeData td ON rd.zip_code::NUMERIC = td.zipcode
    LEFT JOIN
        ComplaintData cd ON rd.zip_code::NUMERIC = cd.incident_zip
)

(SELECT * FROM CombinedData ORDER BY average_rent DESC LIMIT 5)
UNION ALL
(SELECT * FROM CombinedData ORDER BY average_rent LIMIT 5);
"""

In [68]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_4))
    for row in result:
        print(row)

(10013, Decimal('5480.11'), 108, 0)
(10014, Decimal('4617.94'), 301, 0)
(10018, Decimal('4612.25'), 4, 0)
(10001, Decimal('4577.86'), 26, 0)
(11249, Decimal('4518.98'), 80, 0)
(10040, Decimal('2166.27'), 69, 0)
(11235, Decimal('2367.89'), 459, 0)
(10032, Decimal('2568.75'), 344, 0)
(11375, Decimal('2568.96'), 1215, 0)
(11374, Decimal('2584.12'), 182, 0)

In [70]:
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5

In [71]:
QUERY_5_FILENAME = QUERY_DIR / "most_greenery_trees_and_zipcodes.sql"

QUERY_5 = """
WITH TreeZipcodeCounts AS (
    SELECT
        zipcodes."ZIPCODE" AS zip_code,
        COUNT(trees.tree_id) AS tree_count
    FROM
        zipcodes
    LEFT JOIN
        trees ON ST_Within(trees.geometry, zipcodes.geometry) and trees."zipcode" = zipcodes."ZIPCODE"
    GROUP BY
        zipcodes."ZIPCODE"
    ORDER BY
        tree_count DESC
    LIMIT 10
)

SELECT
    tzc.zip_code,
    tzc.tree_count
FROM
    TreeZipcodeCounts tzc
ORDER BY
    tzc.tree_count DESC;
"""

In [72]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_5))
    for row in result:
        print(row)

('10001', 0)
('10002', 0)
('10003', 0)
('10004', 0)
('10005', 0)
('10006', 0)
('10007', 0)
('10009', 0)
('10010', 0)
('00083', 0)

In [73]:
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

### Query 6

In [74]:
QUERY_6_FILENAME = QUERY_DIR / "immediate_area.sql"

QUERY_6 = """
SELECT
    t.tree_id AS id,
    t.spc_common AS species,
    t.health,
    t.status,
    ST_AsText(t.geometry) AS coordinate_location
FROM
    trees t
WHERE 
    ST_DWithin(
        t.geometry::geography,
        ST_MakePoint(-73.96253174434912, 40.80737875669467)::geography,
        804.672  -- Distance in meters (½ mile)
    )
"""

In [75]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_6))
    for row in result:
        print(row)

('198514', 'pin oak', 'Good', 'Alive', 'POINT(-73.9620798 40.80230109)')
('209919', 'London planetree', 'Good', 'Alive', 'POINT(-73.96331506 40.80881155)')
('209921', 'London planetree', 'Good', 'Alive', 'POINT(-73.96340334 40.80874458)')
('203887', 'willow oak', 'Good', 'Alive', 'POINT(-73.96071917 40.80572583)')
('196440', 'American elm', 'Fair', 'Alive', 'POINT(-73.96412322 40.81114538)')
('209913', 'pin oak', 'Good', 'Alive', 'POINT(-73.96312072 40.80907709)')
('178550', 'Norway maple', 'Good', 'Alive', 'POINT(-73.95739877 40.80690345)')
('189403', 'Callery pear', 'Fair', 'Alive', 'POINT(-73.95861206 40.80754134)')
('196606', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96719944 40.80732247)')
('198512', 'pin oak', 'Good', 'Alive', 'POINT(-73.96230577 40.80239611)')
('196541', 'honeylocust', 'Good', 'Alive', 'POINT(-73.9654983 40.80929314)')
('203996', 'Callery pear', 'Good', 'Alive', 'POINT(-73.96134249 40.80528416)')
('189414', 'ginkgo', 'Good', 'Alive', 'POINT(-73.95983152 40.80805619)')
('196605', 'American elm', 'Good', 'Alive', 'POINT(-73.96715782 40.80738644)')
('188558', 'London planetree', 'Good', 'Alive', 'POINT(-73.96052882 40.80361816)')
('204127', 'Japanese zelkova', 'Fair', 'Alive', 'POINT(-73.96208728 40.80521641)')
('188841', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95822529 40.8088019)')
('190326', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95627225 40.80385376)')
('189406', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.95892624 40.80767399)')
('198510', 'pin oak', 'Good', 'Alive', 'POINT(-73.96252446 40.80248808)')
('209824', 'pin oak', 'Good', 'Alive', 'POINT(-73.9617956 40.81089603)')
('138615', 'golden raintree', 'Fair', 'Alive', 'POINT(-73.95427116 40.80900142)')
('188843', 'ginkgo', 'Good', 'Alive', 'POINT(-73.95801583 40.80871253)')
('203994', 'Callery pear', 'Fair', 'Alive', 'POINT(-73.96171282 40.80544227)')
('209834', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96237155 40.81010258)')
('193107', 'pin oak', 'Good', 'Alive', 'POINT(-73.96555738 40.80283627)')
('121484', "Schumard's oak", 'Poor', 'Alive', 'POINT(-73.96312927 40.80256195)')
('198515', 'pin oak', 'Good', 'Alive', 'POINT(-73.96193064 40.80223836)')
('196613', 'green ash', 'Fair', 'Alive', 'POINT(-73.96766169 40.80656601)')
('190331', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.9568291 40.80408682)')
('189405', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.95882551 40.80763146)')
('189413', 'ginkgo', 'Poor', 'Alive', 'POINT(-73.95972638 40.8080118)')
('198511', 'pin oak', 'Good', 'Alive', 'POINT(-73.96241701 40.80244289)')
('209911', 'pin oak', 'Good', 'Alive', 'POINT(-73.96307592 40.80919195)')
('209912', 'pin oak', 'Good', 'Alive', 'POINT(-73.9630763 40.80913778)')
('190330', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95672722 40.80404418)')
('188839', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.95850941 40.8089231)')
('188840', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.95837743 40.8088668)')
('196543', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96564723 40.80908661)')
('196544', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96569063 40.80902644)')
('189409', 'ginkgo', 'Good', 'Alive', 'POINT(-73.95927989 40.8078233)')
('209832', 'pin oak', 'Good', 'Alive', 'POINT(-73.96234526 40.81019253)')
('188664', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95925026 40.8063837)')
('188561', 'London planetree', 'Good', 'Alive', 'POINT(-73.96042285 40.80392477)')
('209918', 'London planetree', 'Fair', 'Alive', 'POINT(-73.96331506 40.80881155)')
('209920', 'London planetree', 'Good', 'Alive', 'POINT(-73.96337335 40.80873191)')
('203995', 'Callery pear', 'Poor', 'Alive', 'POINT(-73.96158371 40.80538715)')
('198509', 'pin oak', 'Good', 'Alive', 'POINT(-73.96278614 40.80259812)')
('188559', 'London planetree', 'Good', 'Alive', 'POINT(-73.96049331 40.80372089)')
('196616', 'Sophora', 'Fair', 'Alive', 'POINT(-73.96778354 40.80634619)')
('209833', 'pin oak', 'Good', 'Alive', 'POINT(-73.96233482 40.81015301)')
('209820', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96171153 40.81106551)')
('76462', 'Japanese tree lilac', 'Good', 'Alive', 'POINT(-73.96750159 40.80441608)')
('193108', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96545669 40.80279369)')
('209822', 'pin oak', 'Good', 'Alive', 'POINT(-73.96178527 40.81096414)')
('188560', 'London planetree', 'Good', 'Alive', 'POINT(-73.96045753 40.80382443)')
('214747', 'black locust', 'Fair', 'Alive', 'POINT(-73.96329637 40.80852122)')
('188547', 'London planetree', 'Good', 'Alive', 'POINT(-73.96096912 40.80234416)')
('193112', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96502208 40.80260991)')
('196546', 'green ash', 'Fair', 'Alive', 'POINT(-73.96633015 40.80838469)')
('193113', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96485891 40.80254091)')
('188546', 'London planetree', 'Good', 'Alive', 'POINT(-73.96103563 40.8021517)')
('188545', 'London planetree', 'Good', 'Alive', 'POINT(-73.96106765 40.80205905)')
('139761', 'magnolia', 'Good', 'Alive', 'POINT(-73.9565131 40.80324293)')
('187078', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95997285 40.80083357)')
('188663', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95930941 40.80630254)')
('188665', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95919495 40.80645957)')
('209915', 'pin oak', 'Good', 'Alive', 'POINT(-73.9631618 40.80902096)')
('190327', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95644563 40.80392633)')
('190328', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95654498 40.80396791)')
('193104', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96587679 40.80297134)')
('188666', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95916643 40.80649871)')
('190329', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95664496 40.80400975)')
('193105', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96579157 40.8029353)')
('193109', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96536485 40.80275485)')
('193111', 'honeylocust', 'Good', 'Alive', 'POINT(-73.9651215 40.80265195)')
('209916', 'pin oak', 'Good', 'Alive', 'POINT(-73.96324955 40.80895471)')
('187076', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.96007335 40.80069671)')
('209830', 'pin oak', 'Good', 'Alive', 'POINT(-73.96225554 40.81031573)')
('188667', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95913037 40.80654817)')
('193115', 'northern red oak', 'Good', 'Alive', 'POINT(-73.96452656 40.80240036)')
('209993', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96496366 40.80660709)')
('193163', 'northern red oak', 'Good', 'Alive', 'POINT(-73.96177571 40.80124342)')
('188668', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95908312 40.806613)')
('193106', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96564922 40.80287511)')
('209862', 'pin oak', 'Poor', 'Alive', 'POINT(-73.96268071 40.80973254)')
('209998', 'pin oak', 'Good', 'Alive', 'POINT(-73.96510628 40.80635804)')
('209780', 'pin oak', 'Good', 'Alive', 'POINT(-73.96137902 40.81143414)')
('209992', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96493365 40.80659444)')
('193171', 'honeylocust', 'Good', 'Alive', 'POINT(-73.9626066 40.80159331)')
('187024', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96318229 40.80407594)')
('187023', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96322643 40.80401577)')
('193172', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96268622 40.80162683)')
('193174', 'American linden', 'Good', 'Alive', 'POINT(-73.9628445 40.80169348)')
('188693', 'willow oak', 'Fair', 'Alive', 'POINT(-73.958356 40.80760658)')
('193167', 'American linden', 'Poor', 'Alive', 'POINT(-73.96212892 40.80139215)')
('209923', 'white oak', 'Good', 'Alive', 'POINT(-73.9634834 40.8086352)')
('188544', 'London planetree', 'Good', 'Alive', 'POINT(-73.96110041 40.80196427)')
('193176', 'Callery pear', 'Good', 'Alive', 'POINT(-73.96317528 40.80183277)')
('210161', 'London planetree', 'Good', 'Alive', 'POINT(-73.96590138 40.8052723)')
('210163', 'London planetree', 'Good', 'Alive', 'POINT(-73.96593682 40.80522321)')
('209776', 'pin oak', 'Good', 'Alive', 'POINT(-73.96127236 40.81158252)')
('210162', 'London planetree', 'Fair', 'Alive', 'POINT(-73.9659669 40.80523575)')
('190325', 'American elm', 'Good', 'Alive', 'POINT(-73.95617734 40.80381403)')
('190332', 'American elm', 'Good', 'Alive', 'POINT(-73.95700881 40.80416204)')
('182932', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95486513 40.80337213)')
('182934', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95523023 40.80352608)')
('188669', 'northern red oak', 'Good', 'Alive', 'POINT(-73.95903674 40.80667663)')
('196532', 'Chinese elm', 'Good', 'Alive', 'POINT(-73.96486956 40.81015708)')
('182936', 'Chinese elm', 'Good', 'Alive', 'POINT(-73.95543332 40.80361172)')
('209999', 'northern red oak', 'Good', 'Alive', 'POINT(-73.96515907 40.80633949)')
('182931', 'Chinese elm', 'Good', 'Alive', 'POINT(-73.95470532 40.80330474)')
('182933', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95495862 40.80341155)')
('196533', 'Chinese elm', 'Good', 'Alive', 'POINT(-73.9649539 40.81004134)')
('196531', 'Chinese elm', 'Fair', 'Alive', 'POINT(-73.96470124 40.81038808)')
('207105', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95740932 40.80176592)')
('218087', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96741828 40.80347733)')
('217952', 'ginkgo', 'Good', 'Alive', 'POINT(-73.96857522 40.80328259)')
('209856', 'crab apple', 'Fair', 'Alive', 'POINT(-73.96260947 40.80982869)')
('193175', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96300373 40.80176053)')
('218086', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96745978 40.80342043)')
('210003', 'crab apple', 'Good', 'Alive', 'POINT(-73.96525108 40.80621349)')
('217948', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96809468 40.8030808)')
('218085', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96750146 40.8033633)')
('196537', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96522509 40.80967202)')
('182937', 'Chinese elm', 'Good', 'Alive', 'POINT(-73.95555965 40.80366499)')
('217954', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96891064 40.80342344)')
('210002', 'crab apple', 'Good', 'Alive', 'POINT(-73.96522107 40.80620083)')
('183144', 'honeylocust', 'Fair', 'Alive', 'POINT(-73.95415551 40.80400072)')
('183146', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95440708 40.80410707)')
('193170', 'Callery pear', 'Good', 'Alive', 'POINT(-73.96252667 40.80155965)')
('209774', 'crab apple', 'Good', 'Alive', 'POINT(-73.96124967 40.81161408)')
('209777', 'pin oak', 'Good', 'Alive', 'POINT(-73.96128605 40.81150908)')
('217949', 'ginkgo', 'Good', 'Alive', 'POINT(-73.96816644 40.80311093)')
('217951', 'ginkgo', 'Good', 'Alive', 'POINT(-73.96844939 40.80322975)')
('209859', 'crab apple', 'Poor', 'Alive', 'POINT(-73.96261324 40.80977045)')
('196540', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96544067 40.80937306)')
('196536', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96517857 40.80973653)')
('196538', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96534763 40.80950208)')
('217947', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.96797644 40.80303115)')
('209858', 'crab apple', 'Poor', 'Alive', 'POINT(-73.96262666 40.80980549)')
('207104', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95745741 40.80170019)')
('193169', 'Callery pear', 'Good', 'Alive', 'POINT(-73.96239903 40.8015059)')
('209867', 'pin oak', 'Good', 'Alive', 'POINT(-73.96277025 40.80955855)')
('209779', 'pin oak', 'Good', 'Alive', 'POINT(-73.96132709 40.81145199)')
('210000', 'pin oak', 'Good', 'Alive', 'POINT(-73.96515307 40.80629396)')
('193168', 'Callery pear', 'Good', 'Alive', 'POINT(-73.96227077 40.80145189)')
('210166', 'London planetree', 'Poor', 'Alive', 'POINT(-73.96607025 40.80509256)')
('209860', 'crab apple', 'Poor', 'Alive', 'POINT(-73.96264314 40.80978325)')
('210169', 'London planetree', 'Good', 'Alive', 'POINT(-73.96610409 40.80499146)')
('209825', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96184226 40.81083189)')
('209864', 'pin oak', 'Good', 'Alive', 'POINT(-73.96273175 40.80966366)')
('209827', 'pin oak', 'Good', 'Alive', 'POINT(-73.96190884 40.81074037)')
('209995', 'pin oak', 'Good', 'Alive', 'POINT(-73.96502255 40.80652645)')
('209861', 'pin oak', 'Good', 'Alive', 'POINT(-73.96263752 40.80973769)')
('207247', 'Callery pear', 'Fair', 'Alive', 'POINT(-73.95792265 40.8037238)')
('214749', 'London planetree', 'Fair', 'Alive', 'POINT(-73.96307414 40.80882617)')
('210167', 'London planetree', 'Fair', 'Alive', 'POINT(-73.96606101 40.80505114)')
('182935', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.95535973 40.80358069)')
('209863', 'pin oak', 'Poor', 'Alive', 'POINT(-73.96268749 40.80967024)')
('190324', 'American elm', 'Good', 'Alive', 'POINT(-73.95607926 40.80377298)')
('193164', 'American elm', 'Poor', 'Alive', 'POINT(-73.96192009 40.80130422)')
('210165', 'London planetree', 'Fair', 'Alive', 'POINT(-73.96602735 40.805152)')
('209866', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96277535 40.80960482)')
('209826', 'pin oak', 'Fair', 'Alive', 'POINT(-73.96189291 40.81081616)')
('209997', 'northern red oak', 'Good', 'Alive', 'POINT(-73.96511473 40.80640021)')
('209869', 'pin oak', 'Good', 'Alive', 'POINT(-73.96281509 40.80949803)')
('210168', 'London planetree', 'Poor', 'Alive', 'POINT(-73.96611038 40.80503697)')
('209775', 'crab apple', 'Poor', 'Alive', 'POINT(-73.96125695 40.81160396)')
('196539', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96539242 40.80943997)')
('188599', 'American elm', 'Good', 'Alive', 'POINT(-73.96031734 40.80423795)')
('210001', 'crab apple', 'Good', 'Alive', 'POINT(-73.96522742 40.80624589)')
('214738', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.96453698 40.80681876)')
('209857', 'crab apple', 'Poor', 'Alive', 'POINT(-73.96260947 40.80982869)')
('217953', 'ginkgo', 'Good', 'Alive', 'POINT(-73.96878166 40.80336928)')
('214739', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.96445999 40.80692442)')
('214741', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.96434625 40.8070805)')
('183149', 'honeylocust', 'Good', 'Alive', 'POINT(-73.9548856 40.80430936)')
('122014', 'dawn redwood', 'Fair', 'Alive', 'POINT(-73.96318663 40.80030239)')
('207094', 'ginkgo', 'Good', 'Alive', 'POINT(-73.95839117 40.80086888)')
('209922', 'London planetree', 'Fair', 'Alive', 'POINT(-73.96343231 40.808705)')
('188598', 'American elm', 'Good', 'Alive', 'POINT(-73.9603697 40.80408268)')
('188602', 'American elm', 'Good', 'Alive', 'POINT(-73.96021091 40.80455355)')
('218082', 'American elm', 'Fair', 'Alive', 'POINT(-73.96768848 40.80310691)')
('183147', 'American elm', 'Good', 'Alive', 'POINT(-73.95456553 40.80417406)')
('207148', 'honeylocust', 'Fair', 'Alive', 'POINT(-73.95717327 40.80208764)')
('209778', 'northern red oak', 'Good', 'Alive', 'POINT(-73.96130804 40.81147849)')
('210123', 'crab apple', 'Good', 'Alive', 'POINT(-73.96542253 40.80592569)')
('210125', 'crab apple', 'Good', 'Alive', 'POINT(-73.96546726 40.80591818)')
('207246', 'London planetree', 'Fair', 'Alive', 'POINT(-73.95806787 40.80378049)')
('188601', 'American elm', 'Good', 'Alive', 'POINT(-73.96026426 40.80439535)')
('214742', 'ginkgo', 'Poor', 'Alive', 'POINT(-73.96411003 40.80740466)')
('188600', 'American elm', 'Good', 'Alive', 'POINT(-73.96029044 40.80431772)')
('183148', 'American elm', 'Good', 'Alive', 'POINT(-73.95471578 40.80423757)')
('218083', 'American elm', 'Good', 'Alive', 'POINT(-73.96763927 40.80317437)')
('196619', 'green ash', 'Good', 'Alive', 'POINT(-73.96791598 40.80609322)')
('190357', 'green ash', 'Fair', 'Alive', 'POINT(-73.95793759 40.80455495)')
('188671', 'Callery pear', 'Good', 'Alive', 'POINT(-73.95872645 40.80710234)')
('214743', 'Callery pear', 'Fair', 'Alive', 'POINT(-73.96393505 40.80764478)')
('188672', 'Callery pear', 'Good', 'Alive', 'POINT(-73.95865644 40.80719838)')
('214744', 'Callery pear', 'Fair', 'Alive', 'POINT(-73.96388081 40.80771922)')
('217812', 'Sophora', 'Good', 'Alive', 'POINT(-73.96902175 40.80276141)')
('214740', 'ginkgo', 'Poor', 'Alive', 'POINT(-73.96441449 40.80698685)')
('196586', 'sweetgum', 'Poor', 'Alive', 'POINT(-73.96706368 40.80721344)')
('203841', 'common hackberry', 'Fair', 'Alive', 'POINT(-73.96219406 40.80481916)')
('225204', 'Sophora', 'Good', 'Alive', 'POINT(-73.95760107 40.80205878)')
('135268', 'black maple', 'Good', 'Alive', 'POINT(-73.95607858 40.81047273)')
('217814', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96875721 40.80264963)')
('203844', 'common hackberry', 'Poor', 'Alive', 'POINT(-73.96105405 40.80433701)')
('207301', 'Japanese zelkova', 'Good', 'Alive', 'POINT(-73.9575928 40.80383519)')
('138837', 'paper birch', 'Fair', 'Alive', 'POINT(-73.95424817 40.81051518)')
('138838', 'paper birch', 'Good', 'Alive', 'POINT(-73.95431476 40.81054278)')
('203842', 'common hackberry', 'Poor', 'Alive', 'POINT(-73.96211389 40.80478525)')
('203846', 'common hackberry', 'Fair', 'Alive', 'POINT(-73.96070183 40.80418803)')
('188842', 'Sophora', 'Good', 'Alive', 'POINT(-73.95812198 40.80875782)')
('189404', 'red maple', 'Fair', 'Alive', 'POINT(-73.95871626 40.80758534)')
('209917', 'pin oak', 'Good', 'Alive', 'POINT(-73.96329537 40.8088921)')
('210157', 'magnolia', 'Good', 'Alive', 'POINT(-73.96589343 40.80533754)')
('207304', 'shingle oak', 'Fair', 'Alive', 'POINT(-73.95577149 40.8040129)')
('182991', 'Sophora', 'Fair', 'Alive', 'POINT(-73.95505518 40.80417799)')
('207284', 'London planetree', 'Fair', 'Alive', 'POINT(-73.95750449 40.80422212)')
('214753', 'willow oak', 'Fair', 'Alive', 'POINT(-73.96275741 40.80926079)')
('217950', 'littleleaf linden', 'Good', 'Alive', 'POINT(-73.96827804 40.8031578)')
('214755', 'willow oak', 'Good', 'Alive', 'POINT(-73.96257017 40.80951771)')
('207283', 'London planetree', 'Fair', 'Alive', 'POINT(-73.95757935 40.80411777)')
('214752', 'willow oak', 'Fair', 'Alive', 'POINT(-73.96284315 40.80914313)')
('214754', 'willow oak', 'Fair', 'Alive', 'POINT(-73.96268216 40.80936404)')
('214751', 'willow oak', 'Fair', 'Alive', 'POINT(-73.9629009 40.80906389)')
('196542', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96560453 40.80914583)')
('209781', 'purple-leaf plum', 'Poor', 'Alive', 'POINT(-73.96142059 40.81132191)')
('207095', 'ginkgo', 'Fair', 'Alive', 'POINT(-73.95830106 40.80089816)')
('209771', 'cherry', 'Good', 'Alive', 'POINT(-73.96122768 40.81164467)')
('207298', 'London planetree', 'Fair', 'Alive', 'POINT(-73.9573557 40.80415897)')
('209783', 'purple-leaf plum', 'Good', 'Alive', 'POINT(-73.96146422 40.81131562)')
('209784', 'purple-leaf plum', 'Good', 'Alive', 'POINT(-73.9614341 40.81130312)')
('209782', 'purple-leaf plum', 'Good', 'Alive', 'POINT(-73.96145625 40.8113267)')
('182995', 'honeylocust', 'Good', 'Alive', 'POINT(-73.9545702 40.80397435)')
('217815', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96866061 40.80260881)')
('217811', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96936237 40.80290533)')
('207299', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95741629 40.80407623)')
('207149', 'honeylocust', 'Fair', 'Alive', 'POINT(-73.95710903 40.80217513)')
('207151', 'honeylocust', 'Fair', 'Alive', 'POINT(-73.95693548 40.80241145)')
('182993', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95479246 40.80406767)')
('210124', 'crab apple', 'Good', 'Alive', 'POINT(-73.96545254 40.80593834)')
('207205', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95710786 40.8025625)')
('196442', 'American elm', 'Fair', 'Alive', 'POINT(-73.96427309 40.81094364)')
('207207', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95734324 40.8026616)')
('225206', 'American linden', 'Fair', 'Alive', 'POINT(-73.95788794 40.80218015)')
('207204', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95699539 40.80251515)')
('207297', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95712953 40.80447258)')
('217817', 'honeylocust', 'Good', 'Alive', 'POINT(-73.96836166 40.8024825)')
('182994', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95469982 40.80402878)')
('182996', 'pin oak', 'Good', 'Alive', 'POINT(-73.95449464 40.80394262)')
('225209', 'American linden', 'Good', 'Alive', 'POINT(-73.95833386 40.8023688)')
('182992', 'honeylocust', 'Good', 'Alive', 'POINT(-73.95488793 40.80410776)')
('207206', 'honeylocust', 'Fair', 'Alive', 'POINT(-73.95720265 40.80260241)')

In [76]:
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)