# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [1]:
# All import statements needed for the project
import json
import pathlib
import urllib.parse
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import sqlalchemy as db
import seaborn as sns
import folium
from shapely.geometry import Point

In [2]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"
NYC_DATA_APP_TOKEN = "SMCztjSAKApgTYc1CbAxcdksE"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [3]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [17]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        ...
        
        with open(filename, "w") as f:
            json.dump(..., f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [5]:
# Read the ZIP code data file into a GeoDataFrame, keep the necessary columns: zipcode and geometry,
# and remove any rows that contain missing values. 
def load_and_clean_zipcodes():
    df = gpd.read_file(ZIPCODE_DATA_FILE)
    df['centroid'] = df.geometry.centroid
    df.geometry = df['centroid']
    columns_to_keep = ['ZIPCODE', 'geometry']
    df_subset = df[columns_to_keep].dropna()
    return df_subset

In [48]:
# Download and clean complaint 311 data
def download_and_clean_311_data():
    df = pd.read_csv('/Users/botongyuan/Documents/GitHub/4501-Final-Proj/data/311_Service_Requests_from_2010_to_Present_20231210.csv')

    # Select only the required columns
    df = df[['unique_key', 'created_date', 'incident_zip', 'complaint_type', 'latitude', 'longitude']].dropna()

    # Convert 'created_date' to datetime
    df['created_date'] = pd.to_datetime(df['created_date'])

    # Filter data between 2015-01-01 and 2023-12-08
    start_date = pd.Timestamp('2015-01-01')
    end_date = pd.Timestamp('2023-12-08')
    mask = (df['created_date'] >= start_date) & (df['created_date'] <= end_date)
    df = df[mask]

    # Create a new 'geometry' column using 'latitude' and 'longitude'
    df['geometry'] = df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)

    # Convert the DataFrame to a GeoDataFrame
    gdf = gpd.GeoDataFrame(df, geometry='geometry')

    # Set a coordinate reference system (CRS), for example, WGS84
    gdf.set_crs(epsg=4326, inplace=True)
    
    return gdf

In [1]:
# Download and clean tree data
def download_and_clean_tree_data(): 
    df = pd.read_csv('/Users/botongyuan/Documents/GitHub/4501-Final-Proj/data/2015StreetTreesCensus_TREES.csv', low_memory=False)

# Select only the required columns
    df = df[['tree_id', 'status', 'health', 'zipcode', 'spc_common', 'Latitude', 'longitude']].dropna()

    df = df.rename(columns={'Latitude': 'latitude'})

# Create a new 'geometry' column using 'Latitude' and 'longitude'
    df['geometry'] = df.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)

# Convert the DataFrame to a GeoDataFrame
    gdf = gpd.GeoDataFrame(df, geometry='geometry')

# If you want to set a coordinate reference system (CRS), you can do so. For example, for WGS84:
    gdf.set_crs(epsg=4326, inplace=True)
    return gdf

In [8]:
# Download and clean zillow data
def load_and_clean_zillow_data():
    df = pd.read_csv(ZILLOW_DATA_FILE)
    drop_column = ["SizeRank", "RegionID", "RegionType", "StateName", "State", "Metro"] 
    df = df.drop(columns=drop_column).dropna() # Drop unnecessary columns and drop missing values
    df = df.melt(id_vars=["RegionName", "City", "CountyName"], var_name='Date', value_name='Rent') # Melt df to convert to long format
    df = df[df["City"] == "New York"] # Filter to only NY data
    return df

In [50]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes()
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [51]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

/var/folders/m9/htxysh311ms948n5_2m73ttc0000gn/T/ipykernel_1142/1127440258.py:3: DtypeWarning: Columns (8,17,18,31,32,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/botongyuan/Documents/GitHub/4501-Final-Proj/data/311_Service_Requests_from_2010_to_Present_20231210.csv')

:

In [37]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   geometry  263 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 4.2+ KB

In [38]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

  ZIPCODE                        geometry
0   11436  POINT (1040696.262 185580.222)
1   11213  POINT (1001912.872 183803.113)
2   11212  POINT (1008365.375 180768.945)
3   11225   POINT (997023.193 180870.353)
4   11218   POINT (990785.291 173656.048)

In [ ]:
geodf_311_data.info()

In [ ]:
geodf_311_data.head()

In [27]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   tree_id     683788 non-null  int64
 1   status      683788 non-null  object
 2   health      652172 non-null  object
 3   zipcode     683788 non-null  int64
 4   spc_common  652169 non-null  object
 5   Latitude    683788 non-null  float64
 6   longitude   683788 non-null  float64
 7   geometry    683788 non-null  geometry
dtypes: float64(2), geometry(1), int64(2), object(3)
memory usage: 41.7+ MB

In [28]:
geodf_tree_data.head()

,tree_id,status,health,zipcode,spc_common,Latitude,longitude,geometry
0,180683,Alive,Fair,11375,red maple,40.723092,-73.844215,POINT (-73.84422 40.72309)
1,200540,Alive,Fair,11357,pin oak,40.794111,-73.818679,POINT (-73.81868 40.79411)
2,204026,Alive,Good,11211,honeylocust,40.717581,-73.936608,POINT (-73.93661 40.71758)
3,204337,Alive,Good,11211,honeylocust,40.713537,-73.934456,POINT (-73.93446 40.71354)
4,189565,Alive,Good,11215,American linden,40.666778,-73.975979,POINT (-73.97598 40.66678)

In [39]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5040 entries, 3 to 61422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  5040 non-null   int64
 1   City        5040 non-null   object
 2   CountyName  5040 non-null   object
 3   Date        5040 non-null   object
 4   Rent        5040 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 236.2+ KB

In [40]:
df_zillow_data.head()

    RegionName      City       CountyName        Date         Rent
3        11226  New York     Kings County  2015-01-31  1944.609891
6        10025  New York  New York County  2015-01-31  3068.951823
10       11206  New York     Kings County  2015-01-31  2482.829299
11       11221  New York     Kings County  2015-01-31  2125.738807
16       11235  New York     Kings County  2015-01-31  1687.789898

## Part 2: Storing Data

In [41]:
!createdb 4501_FINAL_PROJECT

createdb: error: database creation failed: ERROR:  database "4501_FINAL_PROJECT" already exists

In [42]:
!psql --dbname 4501_FINAL_PROJECT -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [43]:
engine = db.create_engine('postgresql://postgres:1220@localhost:5432/4501_FINAL_PROJECT')

#### SQL

In [ ]:
# Define the SQL statements to create 4 tables using SQL
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS zipcode (
    id INTEGER PRIMARY KEY,
    ZIPCODE VARCHAR(10),
    geometry GEOMETRY(Point, 4326)
);

DROP INDEX IF EXISTS idx_zipcode_geometry;
CREATE INDEX idx_zipcode_geometry ON zipcode USING GIST (geometry);
"""

NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS complaint (
    unique_key INTEGER PRIMARY KEY,
    created_date TIMESTAMP,
    incident_zip VARCHAR(15),
    complaint_type VARCHAR(100),
    latitude DECIMAL,
    longitude DECIMAL,
    geometry GEOMETRY(Point, 4326)
);

DROP INDEX IF EXISTS idx_zipcode_geometry;
CREATE INDEX IF NOT EXISTS idx_complaint_geometry ON complaint USING GIST (geometry);
"""

NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS tree (
    tree_id INTEGER PRIMARY KEY,
    status VARCHAR(50),
    health VARCHAR(50),
    zipcode VARCHAR(10),
    spc_common VARCHAR(100),
    latitude DECIMAL,
    longitude DECIMAL,
    geometry GEOMETRY(Point, 4326)
);

DROP INDEX IF EXISTS idx_tree_geometry;
CREATE INDEX idx_tree_geometry ON tree USING GIST (geometry);
"""

ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS rent (
    id INTEGER PRIMARY KEY,
    RegionName VARCHAR(10),
    City VARCHAR(50),
    CountyName VARCHAR(50),
    Date DATE,
    Rent DECIMAL(10, 2)
);
"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# Execute the schema files to create tables
schema_file = 'schema.sql'

# Execute the schema file
with engine.connect() as connection:
    with open(schema_file, 'r') as file:
        schema_sql = file.read()
        connection.execute(schema_sql)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### SQL

In [ ]:


# Write DataFrame to table
def write_dataframes_to_table(tablename_to_dataframe, engine):
    for tablename, dataframe in tablename_to_dataframe.items():
        # Check if the dataframe is a GeoDataFrame
        if isinstance(dataframe, gpd.GeoDataFrame):
            try:
                # Transform the CRS to EPSG:4326 if it's different
                if dataframe.crs and dataframe.crs.to_string() != 'EPSG:4326':
                    dataframe = dataframe.to_crs('EPSG:4326')

                # Write GeoDataFrame to PostGIS, append if the table already exists
                dataframe.to_postgis(name=tablename, con=engine, if_exists='replace', index=False)
                print(f"GeoDataFrame written successfully to table {tablename}")
            except Exception as e:
                print(f"Error writing GeoDataFrame to table {tablename}: {e}")
        else:
            try:
                # Write regular DataFrame to SQL
                dataframe.to_sql(name=tablename, con=engine, if_exists='replace', index=False)
                print(f"DataFrame written successfully to table {tablename}")
            except Exception as e:
                print(f"Error writing DataFrame to table {tablename}: {e}")

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)